
@import '../styles/breakpoints';

.subhead { 
  max-width: 640px !important;
  margin: auto;
}

.gridContainer {
  display: grid;

  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: 1fr;
  
  margin-top: 5rem;
  margin-bottom: 5rem;

  @media screen and #{$mq-large} {
    grid-template-columns: repeat(3, 1fr);
  }

  .gridItem {

    display: flex;
    border: 1px solid var(--green-700);
    padding:  2rem 1rem;
    border-radius: 24px;
    column-gap: 1rem;

    @media screen and #{$mq-large} {
      padding:  2rem 2rem;
    }

    .details {

      h5 { 
        font-weight: 600 !important;
        // margin: 0;
      }

      display: flex;
      flex-direction: column;
      font-size: 0.9rem;
      font-weight: 500;
      color: #474747;
    }
  }
}

.getStarted {
  
  // background: #ABCCD5;
  background: var(--green-100);
  
  // border-radius: 24px;
  // padding: 40px 0;
  // margin: 8rem 15px;

  @media screen and #{$mq-large} {
    // max-width: 1200px;
    // padding: 6rem;
    // margin: 6rem auto;
  }


   .title {
    font-family: var(--font--alt);
    font-size: clamp(1.75rem, 4vw, 2.5rem) !important;
    font-weight: 700;
    line-height: 1.2;
    color: var(--green-950);
    text-align: center;
   }
    .subhead {
      font-size: 1.25rem;
      line-height: 1.4;
      font-weight: 500;
      color: var(--green-700);
      text-align: center;
      margin-top: 1rem;
    }
  .ctaButtons {
    margin: 4rem 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1rem;
    flex-wrap: wrap;

    @media screen and #{$mq-large} {
      justify-content: center;
      column-gap: 4rem;
    }
    //  alignItems: "center", flexWrap: "wrap", justifyContent: "center", margin: "4rem 0", columnGap: "4rem"
  }

}