.pricing-tiers {

	display: grid;
	row-gap: 2rem;

	@media screen and #{$mq-large} {
		column-gap: 2rem;
		grid-template-columns: repeat(3, 1fr);
	} 

	.price-option {
			min-height: 100%;
			padding-right: 15px;
			padding-bottom: 30px;
			border-radius: 12px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			border: 1px solid #474747;
			padding: 2rem 20px;
			font-weight: 500;
			color: #676767;

			@media screen and #{$mq-large} {
				padding: 2rem 3rem;
			}
			
			.price-heading {
				font-family: var(--font--alt);
				font-size: 1.4rem;
				font-weight: 650;
			}

			&.styling-yearly {
				border: 3px solid #474747;
				box-shadow: 10px 10px #474747;
			}
			
			h6 { 
				font-weight: 600;
				font-size: 0.9rem;
			}
	
			ul {
					padding-left:  0 !important;
					align-self: flex-start;
					display: flex;
					flex-direction: column;
					li {
							font-size: 1rem;
							line-height: 1.5;
							display: flex;
							padding-bottom: 12px;
							&::before {
									content: "\25a0";
									// color: #222222;
									font-size: 9px !important;
									margin-top: 6px;
									display: inline-flex;
									padding-right: 10px;
							}
					}
			}
	}
}

