.price-option {
    min-height: 100%;
    // padding: 25px 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;

    padding: 2rem 25px;
    // margin-bottom: rem;

    @media screen and #{$mq-large} {
        padding: 3rem;
    }

    &.styling-yearly {
        border: 3px solid;
        box-shadow: 10px 10px rgba(0, 0,0, 0.8);
    }
    
    .savings-banner {
        color: white;
        font-size: 0.9rem;
        font-family: var(--font--alt);
        border-radius: 6px;
        background: var(--secondary);
        width: 120px;
        text-align: center;
        margin: auto;
        margin-bottom: 1rem;
        padding: 8px 12px;
        font-weight: 500;

        margin-top: -3.3rem;

        @media screen and #{$mq-large} {
          margin-top: -4.3rem;
        }
    }


    h6 { 
        text-transform: uppercase;
        font-weight: 700;
        opacity: 0.5;
        font-size: 0.8rem;
        letter-spacing: 2px;
    }

    ul {
        padding-left:  0 !important;
        li {
            font-size: 1rem;
            line-height: 1.5;
            display: flex;
            margin: 10px 0;
            // margin-top: -5px;
            // align-items: center;
            &::before {
                content: "\25a0";
                // color: #222222;
                font-size: 9px !important;
                margin-top: 6px;
                display: inline-flex;
                padding-right: 10px;
            }
        }
    }
}

