


// colors 
:root {
  
  // colors
  --primary: #FFA634;
  --secondary: #19662B !important;
  
  --bg--body--main: #F4F3EA;
  --bg--body--light: #f1f1f1;
  
  --bg--alt--1: #E3DCCC;
  --bg--alt--2: #373836;
  
  // --color--background: #fcfcfc;
  // --color--dark: #212331;
  // --color--snow-white: #fff3ed;
  // --type--h3: calc(1rem + 0.4vw);
  // --black: #222;
  // --text--black: #0e0e0e;
  // --color--background: #fcfcfc;
  // --color--accent: #126fff;
  // --color--snow-white: #fcfcf6;
  // --color--grey: #c2c2c5;
  // --white: white;
  // --black: #000000;
  
  --color--grey1: #474747;
  --color--grey2: #676767;

  // --light--grey: #fafafa;
  
  // --font--main: Inter, sans-serif;
  // --font--heading: Inter, sans-serif;
  // --font--alt: 'Azeret Mono';
  
  // --type--body-regular: 1.1rem;
  // --type--h1: calc(2.5rem + 1.0vw);
  // --type--h2: calc(2rem + 0.8vw);
  // --type--h3: 1.6rem;
  // --type--body-big: 22px;
  // --type--subtitle: 22px;

}