


// colors 
:root {
  
  // colors
  --primary: #FFA634;
  --secondary: #149e53 !important;
  
  // --bg--body--main: #F4F3EA;
  --bg--body--main: #FAF9F5;
  --bg--body--main--translucent: #FAF9F570;

  --bg--body--light: #f1f1f1;
  --bg--pills: #EEEDE4;
  
  // --bg--alt--1: #E3DCCC;
  --bg--alt--1: #eeeee5;
  // --bg--alt--2: #373836;
  --bg--alt--2: #f5f5f5;
  
  --color--grey1: #474747;
  --color--grey2: #676767;
  --color--grey3: #353535;

  --color--border--1: #47474720;
  --color--complimentary: #f5f6fa;
  
  --type--h1: calc(3rem + 0.7vw) !important;
  --type--h2: calc(2rem + 0.5vw) !important;
  --type--h3: 1.5rem;
}